.text-field {
    -fx-background-color: black;
    -fx-border-color: white;
    -fx-text-fill: white;
}

.password-field {
    -fx-background-color: black;
    -fx-border-color: white;
    -fx-text-fill: white;
}

.button {
    -fx-background-color: white;
    -fx-background-radius: 20;
    -fx-text-fill: black;
}

.date-picker {
    -fx-background-radius: 20;
    -fx-border-radius: 20;
}
.date-picker > .text-field {
    -fx-background-color: black;
    -fx-background-radius: 20 0 0 20;
    -fx-border-radius: 20 0 0 20;
    -fx-text-fill: white;
}
.date-picker > .arrow-button {
    -fx-background-color: white;
    -fx-background-radius: 0 20 20 0;
    -fx-border-color: white;
    -fx-border-radius: 0 20 20 0;
    -fx-border-width: 1 1 1 0;
}
.date-picker > .arrow-button > .arrow {
    -fx-background-color: black;
}

.combo-box {
    -fx-background-color: white;
    -fx-background-radius: 20;
    -fx-border-color: white;
    -fx-border-radius: 20;
}
.combo-box > .arrow-button > .arrow {
    -fx-background-color: black;
}
.combo-box > .list-cell {
    -fx-text-fill: black;
}
.combo-box-popup .list-view {
    -fx-background-color: white;
    -fx-background-radius: 20;
    -fx-border-color: white;
    -fx-border-radius: 20;
}
.combo-box-popup > .list-view .list-cell{
    -fx-background-color: white;
    -fx-background-radius: 20;
    -fx-text-fill: black;
    -fx-border-radius: 20;
}

.color-picker {
    -fx-background-color: white;
    -fx-background-radius: 20;
    -fx-border-color: white;
    -fx-border-radius: 20;
    -fx-font-color: black;
}
.color-picker > .label {
    -fx-text-fill: black;
}
.color-picker > .arrow-button > .arrow {
    -fx-background-color: black;
}

.check-box > .box {
    -fx-background-color: black;
    -fx-background-radius: 5;
    -fx-border-color: white;
    -fx-border-radius: 5;
}
.check-box:selected .mark {
    -fx-background-color: white;
}

.radio-button > .radio {
    -fx-background-color: black;
    -fx-background-radius: 20;
    -fx-border-color: white;
    -fx-border-radius: 20;
    -fx-mark-color: white;
}

.list-view {
    -fx-background-color: black;
    -fx-background-radius: 20;
    -fx-border-color: white;
    -fx-border-radius: 20;
    -fx-border-width: 2;
}
.list-view .list-cell {
    -fx-text-fill: white;
    -fx-background-color: black;
    -fx-background-radius: 20;
    -fx-border-radius: 20
}
.list-view .list-cell:odd {
    -fx-background-color: #31323e;
}
.list-view .list-cell:selected {
    -fx-background-color: white;
    -fx-text-fill: black;
}