.text-field {
    -fx-border-color: black;
}

.button {
    -fx-background-color: black;
    -fx-text-fill: white;
}

.date-picker {
    -fx-background-radius: 20;
    -fx-border-radius: 20;
}
.date-picker > .text-field {
    -fx-background-radius: 20 0 0 20;
    -fx-border-radius: 20 0 0 20;
}
.date-picker > .arrow-button {
    -fx-background-radius: 0 20 20 0;
    -fx-border-radius: 0 20 20 0;
    -fx-border-color: black;
    -fx-border-width: 1 1 1 0;
}

.combo-box {
    -fx-background-radius: 20;
    -fx-background-color: black;
    -fx-border-radius: 20;
    -fx-border-color: black;
}
.combo-box > .list-cell {
    -fx-text-fill: white;
}
.combo-box-popup .list-view {
    -fx-background-radius: 20;
    -fx-background-color: black;
    -fx-border-radius: 20;
    -fx-border-color: black;
}
.combo-box-popup > .list-view .list-cell{
    -fx-background-radius: 20;
    -fx-background-color: black;
    -fx-border-radius: 20;
    -fx-text-fill: white;
}

.color-picker {
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-color: black;
}

.check-box > .box {
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: black;
}

.radio-button > .radio {
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-color: black;
}

.list-view {
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-color: black;
}